# Coursera Python Intro class one

The Python Programming Language: Types and Sequences
20170617

- simply function decomposition
- string type
- None type
- int type
- float type
- boolean type
- tuple type
- list type 
- for loop for list
- while loop for list
- listVar.split('delimiter')[position]
- csv read for list as csv(example)
- date time library
- class, object 
- lambda and list
- numpy (zip, array.copy, *, +, for, in range, len, enumerate)

In [1]:
def add_numbers(x,y):
    return x+y

a= add_numbers
a(1,2)

3

In [2]:
type('This is a string')

str

In [3]:
type(None)

NoneType

In [4]:
type(1)

int

In [5]:
type(1.0)

float

In [6]:
type(add_numbers)

function

In [9]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [12]:
x = [1, 'a', 2, 'b']
type(x)

list

In [13]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [14]:
for item in x:
    print(item)

1
a
2
b
3.3

In [15]:
i  =0
while(i != len(x)):
    print(x[i])
    i = i+1

1
a
2
b
3.3

In [16]:
[1]*3

[1, 1, 1]

In [18]:
1 in [1,2,3]

True

In [19]:
x = 'this is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

t
t
th

In [20]:
x[-1]

'g'

In [21]:
x[:3]

'thi'

In [22]:
x[3:]

's is a string'

In [23]:
len(x)

16

In [24]:
firstname = 'Christpher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christpher Brooks
ChristpherChristpherChristpher
True

In [25]:
firstname = 'Christopher Arthur Hanson Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hanson Brooks'.split(' ')[-1]
print(firstname)
print(lastname)

Christopher
Brooks

In [26]:
'Chris'+2

TypeError: Can't convert 'int' object to str implicitly

In [27]:
'Chris' + str(20)

'Chris20'

In [28]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [29]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [30]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [31]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [32]:
for name,email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [34]:
x = {'Christopher', 'Brooks', 'brooksch@umich.edu'}
fname, lname, email = x

In [35]:
fname

'brooksch@umich.edu'

In [36]:
lname

'Christopher'

In [37]:
x = {'Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor'}
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

# String variables

In [38]:
print('Chris'+ 2)

TypeError: Can't convert 'int' object to str implicitly

In [43]:
print('Chris' + str(2.4564575675))

Chris2.4564575675

In [45]:
sales_record = {'price': 3.34,
               'num_items': 4,
               'person': 'Chris'}
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.34 each for a total of 13.36

# Data Files and Summary statistics

In [58]:
import csv

%precision 2
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[:3]

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [59]:
len(mpg)

234

In [60]:
mpg[0].keys()

dict_keys(['', 'drv', 'displ', 'fl', 'year', 'hwy', 'cty', 'model', 'class', 'cyl', 'trans', 'manufacturer'])

In [61]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [62]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [63]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [66]:
CtyMpgByCyl = []

for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c, summpg / cyltypecount ))
    
CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [67]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [69]:
HwyMpgByClass = []

for t in vehicleclass:
    summpg = 0
    vclasscount = 0
    for d in mpg:
        if d['class'] == t:
            summpg += float(d['hwy'])
            vclasscount += 1
    HwyMpgByClass.append((t, summpg / vclasscount ))
    
HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

# Python Dates and Times

In [70]:
import datetime as dt
import time as tm

In [71]:
tm.time()

1498586811.14

In [76]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2017, 6, 27, 14, 9, 55, 500501)

In [80]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2017, 6, 27, 14, 9, 55)

In [81]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [82]:
today = dt.date.today()

In [83]:
today - delta

datetime.date(2017, 3, 19)

In [84]:
today > today-delta

True

# The Python Programming Language: Objects and map()

In [101]:
class Person:
    department = 'School of Information'
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [90]:
person = Person()
person.set_name('Choi Yu')
person.set_location('Livonia, MI, USA')
print('{} live in {} and works in the department {}'.format(
    person.name, person.location, person.department))

Choi Yu live in Livonia, MI, USA and works in the department School of Information

In [91]:
store1 = [10.00, 11.00, 2.34]
store2 = [9.0, 11.1, 12,34 , 2.01]
cheapest = map(min, store1, store2)
cheapest

In [93]:
print(cheapest)

<map object at 0x000002D6AA2BD9B0>

In [94]:
for i in cheapest:
    print(i)

9.0
11.0
2.34

# Lambda and list Comprehensions

In [106]:
my_function = lambda a, b, c: a+b

In [108]:
my_function(1,2,0)

3

In [111]:
people = ['Dr. Christopher Brooks',
          'Dr. Kevyn Collins-Thompson',
          'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (
            lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(
    map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [119]:
for person in people:
    print(lambda x: x.split()[0] + ' ' + x.split()[-1](person))

<function <lambda> at 0x000002D6AA2A4840>
<function <lambda> at 0x000002D6AA2A4840>
<function <lambda> at 0x000002D6AA2A4840>
<function <lambda> at 0x000002D6AA2A4840>

In [120]:
list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [124]:
my_list = []
for number in range(0,1000):
    if number %2 == 0:
        my_list.append(number)
    
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [126]:
my_list = [number for number in range(0,1000) if number % 2 == 0 ]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [127]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [128]:
print ( [j*i for i in range(10) for j in range(10)])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 0, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [129]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

correct_answer[:50] # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']

# Numpy intro

In [130]:
import numpy as np

Create Arrays

In [131]:
mylist =  [1,2,3]
x = np.array(mylist)
x

array([1, 2, 3])

In [133]:
y = np.array([4,5,6])
y

array([4, 5, 6])

In [134]:
m = np.array([[7,8,9],[10,11,12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

In [135]:
m.shape

(2, 3)

In [140]:
n = np.arange(0,30,2)
n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [142]:
n = n.reshape(3,5)
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [143]:
o = np.linspace(0, 4, 9)
o

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ])

In [145]:
o.resize(3,3)
o

array([[ 0. ,  0.5,  1. ],
       [ 1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ]])

In [146]:
np.ones((3,2))

array([[ 1.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

In [147]:
np.zeros((2,3))

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [148]:
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [149]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

In [150]:
np.array([1,2,3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [152]:
np.repeat([1,2,3],3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [153]:
p  = np.ones([2,3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [155]:
p2 =np.vstack([p, 2*p])

In [156]:
p2.shape

(4, 3)

In [157]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

# Operation

In [162]:
print(x,y)

[1 2 3] [4 5 6]

In [158]:
x + y

array([5, 7, 9])

In [159]:
x * y

array([ 4, 10, 18])

In [160]:
x**2

array([1, 4, 9])

In [163]:
x.dot(y) #dot product

32

In [175]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [176]:
z.shape

(2, 3)

In [177]:
z.T # transpose

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [178]:
z.T.shape

(3, 2)

In [179]:
z.dtype

dtype('int32')

In [181]:
z = z.astype('f')
z.dtype

dtype('float32')

In [182]:
a = np.array([-4, -2, 1, 3, 5])

In [183]:
a.sum()

3

In [184]:
z.sum()

92.0

In [185]:
a.max()

5

In [186]:
a.min()

-4

In [187]:
a.mean()

0.60

In [188]:
a.std()

3.26

In [189]:
a.argmax()

4

In [190]:
a.argmin()

0

# Indexing /Slicing

In [191]:
s = np.arange(13)**2

In [192]:
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

In [193]:
s[0],s[4],s[0:3]

(0, 16, array([0, 1, 4]))

In [194]:
s[1:5]

array([ 1,  4,  9, 16])

In [195]:
s[-4:]

array([ 81, 100, 121, 144])

In [203]:
s[-5:-2]

array([ 64,  81, 100])

In [198]:
r = np.arange(36)
r.resize((6,6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [199]:
r[2,2]

14

In [200]:
r[3,3:6]

array([21, 22, 23])

In [211]:
r[:2,:-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

In [212]:
r[-1:,::2]

array([[30, 32, 34]])

In [213]:
r[r>30]

array([31, 32, 33, 34, 35])

In [215]:
r[r>30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [217]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

In [218]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [219]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [220]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

In [231]:
r_copy[:] = 10
print(r_copy)
print()
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

In [229]:
old = np.array([[1, 1, 1],
                [1, 1, 1]])

new = old.copy()
print(new[:,0])

print(old)

[1 1]
[[1 1 1]
 [1 1 1]]

# iteration in array

In [241]:
test = np.random.randint(0, 10,(4,3))
test

array([[9, 4, 8],
       [1, 0, 3],
       [6, 4, 9],
       [9, 0, 3]])

In [242]:
for i in test:
    print(i)

[9 4 8]
[1 0 3]
[6 4 9]
[9 0 3]

In [243]:
for i in range(len(test)):
    print(test[i])

[9 4 8]
[1 0 3]
[6 4 9]
[9 0 3]

In [244]:
for i, row in enumerate(test):
    print('row', i , 'is', row)

row 0 is [9 4 8]
row 1 is [1 0 3]
row 2 is [6 4 9]
row 3 is [9 0 3]

In [245]:
test2 = test**2
test2

array([[81, 16, 64],
       [ 1,  0,  9],
       [36, 16, 81],
       [81,  0,  9]])

In [246]:
for i,j in zip(test,test2):
    print(i, '+', j, '=', i+j)

[9 4 8] + [81 16 64] = [90 20 72]
[1 0 3] + [1 0 9] = [ 2  0 12]
[6 4 9] + [36 16 81] = [42 20 90]
[9 0 3] + [81  0  9] = [90  0 12]

array([[9, 4, 8],
       [1, 0, 3],
       [6, 4, 9],
       [9, 0, 3]])