class two Pandas Series data

Class two pandas data frame
- pd.Series (string list)
- pd.Series (number list)
- pd.Series (nan data)
- pd.Series ({index: value})
- pd.Series ([value1,value2],index=[index1,index2])
- for loop vs   parallel computing >> np.sum() vs array += int
- df = pd.DataFrame([ ],index= [ ])
- access df by df.loc[index][index] df['index'] df.loc[:,'index'] df.T df.T('index')
- df.drop('index') df.copy()

In [27]:
import pandas as pd
import numpy as np
pd.Series?

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger','Bear',None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np
np.nan ==None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

In [10]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [11]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

# Query a series

In [12]:
s.iloc[3]

'South Korea'

In [13]:
s.loc['Golf']

'Scotland'

In [14]:
s[3]

'South Korea'

In [15]:
s = pd.Series([100,120.00,101.00,3])

In [18]:
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [19]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [25]:
s.head(1)

0    100.0
dtype: float64

In [26]:
len(s)

4

In [34]:
total = np.sum(s)
print(total)
s = pd.Series(np.random.randint(0,1000,10000))
print(s.head(),len(s))

4957826
0    131
1    993
2    243
3     41
4     66
dtype: int32 10000

In [36]:
%%timeit -n 100
summary = 0
for item in s:
    summary +=item

100 loops, best of 3: 1.09 ms per loop

In [38]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 138 µs per loop

In [39]:
s += 2
s.head()

0    133
1    995
2    245
3     43
4     68
dtype: int32

In [46]:
s.iteritems()

AttributeError: 'zip' object has no attribute 'head'

In [44]:
for label, value in s.iteritems():
    s.set_value(label,value+2)
s.head()

0    135
1    997
2    247
3     45
4     70
dtype: int32

In [50]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
        s.loc[label] = value+2

10 loops, best of 3: 876 ms per loop

In [51]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s += 2

10 loops, best of 3: 259 µs per loop

In [54]:
s = pd.Series([1,2,3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [64]:
original_sports = pd.Series({'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Autralia',
                                      'Barbabon',
                                      'Pakistran',
                                      'England'],
                                     index = ['Cricket',
                                      'Cricket',
                                      'Cricket',
                                      'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [60]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [61]:
cricket_loving_countries

Cricket     Autralia
Cricket     Barbabon
Cricket    Pakistran
Cricket      England
dtype: object

In [62]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket         Autralia
Cricket         Barbabon
Cricket        Pakistran
Cricket          England
dtype: object

# The DataFrame Data Structure

In [65]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1,purchase_2,purchase_3], index = ['Store 1', 'Store 1','Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [66]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [67]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [68]:
df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [69]:
df.loc['Store 1','Cost' ]

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [71]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [72]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [73]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [74]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [75]:
df.loc[:,['Name','Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [76]:
df.drop('Store 1')

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [77]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [79]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')

In [80]:
copy_df.drop?

In [81]:
del copy_df['Name']
copy_df

         Cost Item Purchased
Store 2   5.0      Bird Seed

In [82]:
df['Location'] = None
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris     None
Store 1   2.5   Kitty Litter  Kevyn     None
Store 2   5.0      Bird Seed  Vinod     None